/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
/*Home*/
      /*header*/
       .boton{
          text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
          text-align:center;
          text-decoration: none;
          font-family: 'Abyssinica SIL', serif;
          display:inline-block;
          color: #030303;
          background: #7F8C8D;
          padding: 7px 20px;
          white-space: nowrap;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 100px;
          margin: 10px 5px;
          -webkit-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
        }
 
        .amarillo{
background: #D8DB34;
box-shadow: 0px 5px 0px 0px #B5B929;
         }

        .amarillo:hover{
background: #E0E539;
        }

        .amarillo:active{
box-shadow: 0px 2px 0px 0px #B0B929;
        }

        .rojo{
background: #E74C3C;
box-shadow: 0px 5px 0px 0px #C0392B;
        }

        .rojo:hover{
background: #ff5242;
        }

        .rojo:active{
box-shadow: 0px 2px 0px 0px #C0392B;
        }
 /*carrusel*/
.contenedor{
        height: 200px;
        width: 200px;
        perspective: 1000px;
        margin: 170px auto;
        transform:scale(.9)rotateX(-10deg);
        transform-style: preserve-3d; 
      
    }
    .contenedor .box{
        animation: rotar 50s infinite linear;
        height: 100%;
        width: 100%;
        transform-style: preserve-3d;
       transition: 2s;
      
    }
    .elementos{
        height: 200px;
        width: 150px;
        position: absolute;
        box-shadow: 0 0 10px #fff;
    }
    :root{
        --transladacion:translateZ(250px);
    }
    .elementos:nth-child(1){
        transform: rotateY(0deg) var(--transladacion);
    }
    .elementos:nth-child(2){
        transform: rotateY(45deg) var(--transladacion);
    }
    .elementos:nth-child(3){
        transform: rotateY(90deg) var(--transladacion);
    }
    .elementos:nth-child(4){
        transform: rotateY(135deg) var(--transladacion);
    }
    .elementos:nth-child(5){
        transform: rotateY(180deg) var(--transladacion);
    }
    .elementos:nth-child(6){
        transform: rotateY(225deg) var(--transladacion);
    }
    .elementos:nth-child(7){
        transform: rotateY(270deg) var(--transladacion);
    
    }
    .elementos:nth-child(8){
        transform: rotateY(315deg) var(--transladacion);
    
    }
    .elementos:nth-child(9){
        transform: rotateY(360deg) var(--transladacion);
        
    }
    .elementos img{
        object-fit: cover;
        -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
        position: absolute;
        backface-visibility: hidden;
        
    }
    .elementos img:nth-child(2){
        transform: rotateY(180deg)
    }
    .imagen2:nth-child(1){
        animation: rotar2 50s
    }
    .piso{
        height: 43em;
        width:43em;
        transform: rotateX(90deg) translateX(-280px) translateY(40px)translateZ(140px);
         background: -webkit-radial-gradient(center center, farthest-side , #9993, transparent);
        border-radius: 50%;
        
    }
    .flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .titulo{
        height: 200px;
        width: 300px;
        flex-direction: column;
        color: #fff;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 1.7em;
    }
    .titulo p{
        margin: 0;
        padding: 5px;
    }
    
    @keyframes rotar{
       
        to{
            transform: rotateY(-360deg) ;
        }
    }
   /* .imagenes{
        height: 200px;
        width: 150px;
        transition: 2s
            ;
        transform-style: preserve-3d;
    }*/
    .bocadillo-cuadrado {
        position: relative;
        height: 50px;
        width: 150px;
        background: red;
        box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
    }
    .bocadillo-cuadrado:before {
        border: 25px solid red;
        content: '';
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
        position: absolute;
        bottom: -48px;
        left: calc(50% - 25px)
    }
    /*navegacion*/
    #menu{
        position:fixed;
        background-color:black;
        height:100%;
        z-index:10;
        width:280px;
        color:#bbb;
        top:0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
        opacity:1;
        font-family: 'Source Sans Pro', sans-serif;
    }
    
    #menu ul{
        list-style:none;
        margin-top:0;
        padding:0
    }
    #menu ul li a{
        color:inherit;
        font-size:16px;
        display:block;
        padding:8px 0 8px 7px;
        text-decoration:none;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-weight: 600;
    }
    #menu ul a i{
        margin-right:10px;
        font-size: 18px;
        margin-top: 3px;
        width: 20px;
    }

    #menu ul a:hover{
        background-color:red;
        border-left-color: #FFCC33;
        color: white;
    }
    #menu ul a:hover i:first-child{color:#FFCC33;}
    
    .left{left:-280px;}
    .show{left:0;}
    
    #showmenu{
        margin-left:100%;
        position:absolute;
        top:0;
        padding:6px 10px 7px 10px;
        font-size:1.3em;
        color:#FFCC33;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    
/*compiladores*/
.main-doc body{
    background-color: rgb(250, 235, 192);
}

#main-doc{
    position: absolute;
    right: 50px;
    left: 5%;

}
section{
    margin-bottom: 30px;
    border: 2px;
    border-style: solid;
}
.hd{
    display: flex;
    font-weight: bolder;
    background-color: red;
   justify-content: center;
   font-size: xx-large;
}
#main-doc li{
    list-style: none;
    position: relative;
   
}
#main-doc a{
    text-decoration: none;
}
.botones-1{
    position: relative;
    width: 80%;
    height: 100%;
    word-break: break-all;
}
@media screen and (max-width: 800px){
   
    #main-doc{
        position: absolute;
        top: 30%;
        bottom: 0px;
        left: 0px;
        right: 0px;
    
    }
    .botones-1{
        display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    }
}
#main-doc ul{
    
    overflow: auto;
    padding: 0px,0px,0px,0px;
}
.window-notice {
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
}.window-notice .content {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
}
#modal{
    background: rgba(0,0,0,.9);
    color:#fff;
    width: 100vw;
    height: 100vh;
    top: -100vh;
    left: 0;
    position:fixed;
    transition: all .5s;
  }
  
  #modal p{
    position:absolute;
    width: 60vw;
    height: 40vh;
    margin:auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size:1.5em;
    text-align:center;
  }
  
  #open{
    display: none;
  }
  
  #open + label{
    padding: 1em;
    background: steelblue;
    color:#fff;
    margin-right: auto;
    margin-left: auto;
    display: table;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  #open:checked ~ #modal{
    top: 0;
  }
  
  #close{
    display: none;
  }
  
  #close + label{
    background: orange;
    top: 1em;
    right: 1em;
    position: absolute;
    color: #fff;
    cursor: pointer;
    /* display: block;*/
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    line-height: 25px;
    font-weight: bold;
    z-index: 1;
  }
  
  #close:checked + label{
    top: -100vh;
  }
  
  #close + label {
    display: none;
  }
  #open:checked ~ #close + label {
    display: block;
  }
  #close:checked + label {
    display: none;
  }
  /*lenguajes*/
  .container-1 body{
    margin: 0;
    padding: 0;
    min-height: 1000vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;
}


.container-1{
    width: 1000px;
    display: flex;
    justify-content:center;
    margin-left: 310px;

}

.container-1 .card{
    position: relative;
    cursor: pointer;
}

.container-1 .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container-1 .card .face    .face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container-1 .card:hover .face.face1{
    background: #f1f1f1;
    transform: translateY(0);
}

.container-1 .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container-1 .card:hover .face.face1 .content{
    opacity: 1;
}

.container-1 .card .face.face1 .content img{
    max-width: 300px;
}

.container-1 .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container-1 .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container-1 .card:hover .face.face2{
    transform: translateY(0);
}

.container-1 .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container-1 .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container-1 .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}

/*herramientas*/
.boxesContainer{
    margin-left: 350px;
}
.boxesContainer body {
    
	color: #333;
	font-family: Arial, Helvetica, serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
	background: url(http://josetxu.com/img/fondo_blanco.png) repeat 0 0 #fff;
}

.boxesContainer h1 {
	background: #333;
	color: black;
	text-align: center;
	margin: 0 0 5% 0;
	padding: 0.5em;
	margin: 0 0 5% 0;
}

.cardBox {
	float: left;
	margin: 1% 0 0 1%;
	perspective: 800px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	width: 250px;
	font-size: 1.2em;
}

.cardBox:hover .card {
	transform: rotateY( 180deg);
}

.card {
	background: #222;
	cursor: default;
	transform-style: preserve-3d;
	-webkit-transition: transform 0.4s ease 0s;
	transition: transform 0.4s ease 0s;
	width: 100%;
	-webkit-animation: mymove 1s 1;
	animation: mymove 1s 1;
}

.card p {
	margin-bottom: 1.8em;
}

.card .front,
.card .back {
	backface-visibility: hidden;
	box-sizing: border-box;
	color: black;
	display: block;
	padding: 0.8em;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 1;
	height: 100%;
}

.card .front strong {
	background: #fff;
	border-radius: 100%;
	color: #222;
	font-size: 1.5em;
	line-height: 30px;
	padding: 0 7px 4px 6px;
}

.card .back {
	transform: rotateY( 180deg);
}

.card .back a {
	padding: 0.3em 0.5em;
	background: #333;
	color: #fff;
	text-decoration: none;
	border-radius: 1px;
	font-size: 0.9em;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

.card .back a:hover {
	background: #fff;
	color: #333;
	text-shadow: 0 0 1px #333;
}
