/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
/*Home*/
      /*header*/
       .boton{
          text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
          text-align:center;
          text-decoration: none;
          font-family: 'Abyssinica SIL', serif;
          display:inline-block;
          color: #030303;
          background: #7F8C8D;
          padding: 7px 20px;
          white-space: nowrap;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 100px;
          margin: 10px 5px;
          -webkit-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
        }
 
        .amarillo{
background: #D8DB34;
box-shadow: 0px 5px 0px 0px #B5B929;
         }

        .amarillo:hover{
background: #E0E539;
        }

        .amarillo:active{
box-shadow: 0px 2px 0px 0px #B0B929;
        }

        .rojo{
background: #E74C3C;
box-shadow: 0px 5px 0px 0px #C0392B;
        }

        .rojo:hover{
background: #ff5242;
        }

        .rojo:active{
box-shadow: 0px 2px 0px 0px #C0392B;
        }
 /*carrusel*/
.contenedor{
        height: 200px;
        width: 200px;
        perspective: 1000px;
        margin: 170px auto;
        transform:scale(.9)rotateX(-10deg);
        transform-style: preserve-3d; 
      
    }
    .contenedor .box{
        animation: rotar 50s infinite linear;
        height: 100%;
        width: 100%;
        transform-style: preserve-3d;
       transition: 2s;
      
    }
    .elementos{
        height: 200px;
        width: 150px;
        position: absolute;
        box-shadow: 0 0 10px #fff;
    }
    :root{
        --transladacion:translateZ(250px);
    }
    .elementos:nth-child(1){
        transform: rotateY(0deg) var(--transladacion);
    }
    .elementos:nth-child(2){
        transform: rotateY(45deg) var(--transladacion);
    }
    .elementos:nth-child(3){
        transform: rotateY(90deg) var(--transladacion);
    }
    .elementos:nth-child(4){
        transform: rotateY(135deg) var(--transladacion);
    }
    .elementos:nth-child(5){
        transform: rotateY(180deg) var(--transladacion);
    }
    .elementos:nth-child(6){
        transform: rotateY(225deg) var(--transladacion);
    }
    .elementos:nth-child(7){
        transform: rotateY(270deg) var(--transladacion);
    
    }
    .elementos:nth-child(8){
        transform: rotateY(315deg) var(--transladacion);
    
    }
    .elementos:nth-child(9){
        transform: rotateY(360deg) var(--transladacion);
        
    }
    .elementos img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
        position: absolute;
        backface-visibility: hidden;
        
    }
    .elementos img:nth-child(2){
        transform: rotateY(180deg)
    }
    .imagen2:nth-child(1){
        animation: rotar2 50s
    }
    .piso{
        height: 43em;
        width:43em;
        transform: rotateX(90deg) translateX(-280px) translateY(40px)translateZ(140px);
         background: -webkit-radial-gradient(center center, farthest-side , #9993, transparent);
        border-radius: 50%;
        
    }
    .flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .titulo{
        height: 200px;
        width: 300px;
        flex-direction: column;
        color: #fff;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 1.7em;
    }
    .titulo p{
        margin: 0;
        padding: 5px;
    }
    
    @keyframes rotar{
       
        to{
            transform: rotateY(-360deg) ;
        }
    }
    .imagenes{
        height: 200px;
        width: 150px;
        transition: 2s
            ;
        transform-style: preserve-3d;
    }
    .bocadillo-cuadrado {
        position: relative;
        height: 50px;
        width: 150px;
        background: red;
        box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
    }
    .bocadillo-cuadrado:before {
        border: 25px solid red;
        content: '';
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
        position: absolute;
        bottom: -48px;
        left: calc(50% - 25px)
    }