<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herramientas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../estilos/style.css">
    <link rel="stylesheet" href="https://file.myfontastic.com/FkmWtRYFe2i3qsnrRKU3qJ/icons.css" rel="hoja de estilo">">
    
</head>
<body>

    <!-- menu vertical -->
<nav id="menu" class="left show">
    <ul>
      <li><a href="../views/herramientas.html" class="active"><i class="icon-wrench"></i>Herramientas</a></li>
      <li><a href="#"><i class="icon-calendar-check-o"></i>Hacer reserva</a></li>
      <li><a href="#"><i class="icon-calendar-times-o"></i>Cancelar reserva</a></li>
      <li><a href="../views/comentarios.html" class="active"><i class="icon-comments"></i>Comentarios</a></li>
      <li><a href="#"><i class="icon-user"></i>Usuarios</a></li>
    </ul>
</nav>

<div class="container-1" style="text-align: center;">
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="https://okhosting.com/resources/uploads/2019/01/java.jpg">
                <h3>JAVA</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Java es un lenguaje de programación y una plataforma informática que fue comercializada por primera vez en 1995 por Sun Microsystems.</p>
                    <a href="https://www.java.com/es/">Read More</a>
            </div>
        </div>
    </div> 
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="https://okhosting.com/resources/uploads/2019/01/java.jpg">
                <h3>JAVA</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Java es un lenguaje de programación y una plataforma informática que fue comercializada por primera vez en 1995 por Sun Microsystems.</p>
                    <a href="https://www.java.com/es/">Read More</a>
            </div>
        </div>
    </div> 
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="https://okhosting.com/resources/uploads/2019/01/java.jpg">
                <h3>JAVA</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Java es un lenguaje de programación y una plataforma informática que fue comercializada por primera vez en 1995 por Sun Microsystems.</p>
                    <a href="https://www.java.com/es/">Read More</a>
            </div>
        </div>
    </div>    
</div>
</body>
</html>