<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>herramientas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../estilos/style.css">
    <link rel="stylesheet" href="https://file.myfontastic.com/FkmWtRYFe2i3qsnrRKU3qJ/icons.css" rel="hoja de estilo">">
</head>
<body>
    <!-- menu vertical -->
<nav id="menu" class="left show">
    <ul>
      <li><a href="#" class="active"><i class="icon-wrench"></i>herramientas</a></li>
      <li><a href="../views/2.html"><i class="icon-calendar-check-o"></i>Hacer reserva</a></li>
      <li><a href="#"><i class="icon-calendar-times-o"></i>Cancelar reserva</a></li>
      <li><a href="#"><i class="icon-comments"></i>Comentarios</a></li>
      <li><a href="#"><i class="icon-user"></i>Usuarios</a></li>
    </ul>
  </nav>
  <!--herramientas-->
  <div class="boxesContainer" >

    <div class="cardBox">
      <div class="card">
        <div class="front">
          <h3>Amoladora</h3>
          <strong>&#x21bb;</strong>
          <br><br>
          <img class="bgEqual" src="../public/img/Amoladora.jpg" />
        </div>
        <div class="back">
          <h6>- Producto: Amoladora Angular Porter-cable 20v, 4-1/2, Inalámbrica
            - Marca: Porter Cable
            - Modelo: PCC761B</h6><p>
            <button>agregar</button>      
        </div>
        <img class="bgEqual" src="http://josetxu.com/img/transparent-3-4.png" />
      </div>
    </div>
    <div class="cardBox">
      <div class="card">
        <div class="front">
          <h3>Amoladora</h3>
          <strong>&#x21bb;</strong>
          <br><br>
          <img class="bgEqual" src="../public/img/Amoladora.jpg" />
        </div>
        <div class="back">
          <h6>- Producto: Amoladora Angular Porter-cable 20v, 4-1/2, Inalámbrica
            - Marca: Porter Cable
            - Modelo: PCC761B</h6><p>
            <button>agregar</button>      
        </div>
        <img class="bgEqual" src="http://josetxu.com/img/transparent-3-4.png" />
      </div>
    </div>
    <div class="cardBox">
      <div class="card">
        <div class="front">
          <h3>Amoladora</h3>
          <strong>&#x21bb;</strong>
          <br><br>
          <img class="bgEqual" src="../public/img/Amoladora.jpg" />
        </div>
        <div class="back">
          <h6>- Producto: Amoladora Angular Porter-cable 20v, 4-1/2, Inalámbrica
            - Marca: Porter Cable
            - Modelo: PCC761B</h6><p>
            <button>agregar</button>      
        </div>
        <img class="bgEqual" src="http://josetxu.com/img/transparent-3-4.png" />
      </div>
    </div>
    <div class="cardBox">
      <div class="card">
        <div class="front">
          <h3>Amoladora</h3>
          <strong>&#x21bb;</strong>
          <br><br>
          <img class="bgEqual" src="../public/img/Amoladora.jpg" />
        </div>
        <div class="back">
          <h6>- Producto: Amoladora Angular Porter-cable 20v, 4-1/2, Inalámbrica
            - Marca: Porter Cable
            - Modelo: PCC761B</h6><p>
            <button>agregar</button>      
        </div>
        <img class="bgEqual" src="http://josetxu.com/img/transparent-3-4.png" />
      </div>
    </div>
    <div class="cardBox">
      <div class="card">
        <div class="front">
          <h3>Amoladora</h3>
          <strong>&#x21bb;</strong>
          <br><br>
          <img class="bgEqual" src="../public/img/Amoladora.jpg" />
        </div>
        <div class="back">
          <h6>- Producto: Amoladora Angular Porter-cable 20v, 4-1/2, Inalámbrica
            - Marca: Porter Cable
            - Modelo: PCC761B</h6><p>
            <button>agregar</button>      
        </div>
        <img class="bgEqual" src="http://josetxu.com/img/transparent-3-4.png" />
      </div>
    </div>
  </div>
  <!--2-->
  <div class="boxesContainer" >

    <div class="cardBox">
      <div class="card">
        <div class="front">
          <h3>Amoladora</h3>
          <strong>&#x21bb;</strong>
          <br><br>
          <img class="bgEqual" src="../public/img/Amoladora.jpg" />
        </div>
        <div class="back">
          <h6>- Producto: Amoladora Angular Porter-cable 20v, 4-1/2, Inalámbrica
            - Marca: Porter Cable
            - Modelo: PCC761B</h6><p>
            <button>agregar</button>      
        </div>
        <img class="bgEqual" src="http://josetxu.com/img/transparent-3-4.png" />
      </div>
    </div>
    <div class="cardBox">
      <div class="card">
        <div class="front">
          <h3>Amoladora</h3>
          <strong>&#x21bb;</strong>
          <br><br>
          <img class="bgEqual" src="../public/img/Amoladora.jpg" />
        </div>
        <div class="back">
          <h6>- Producto: Amoladora Angular Porter-cable 20v, 4-1/2, Inalámbrica
            - Marca: Porter Cable
            - Modelo: PCC761B</h6><p>
            <button>agregar</button>      
        </div>
        <img class="bgEqual" src="http://josetxu.com/img/transparent-3-4.png" />
      </div>
    </div>
    <div class="cardBox">
      <div class="card">
        <div class="front">
          <h3>Amoladora</h3>
          <strong>&#x21bb;</strong>
          <br><br>
          <img class="bgEqual" src="../public/img/Amoladora.jpg" />
        </div>
        <div class="back">
          <h6>- Producto: Amoladora Angular Porter-cable 20v, 4-1/2, Inalámbrica
            - Marca: Porter Cable
            - Modelo: PCC761B</h6><p>
            <button>agregar</button>      
        </div>
        <img class="bgEqual" src="http://josetxu.com/img/transparent-3-4.png" />
      </div>
    </div>
    <div class="cardBox">
      <div class="card">
        <div class="front">
          <h3>Amoladora</h3>
          <strong>&#x21bb;</strong>
          <br><br>
          <img class="bgEqual" src="../public/img/Amoladora.jpg" />
        </div>
        <div class="back">
          <h6>- Producto: Amoladora Angular Porter-cable 20v, 4-1/2, Inalámbrica
            - Marca: Porter Cable
            - Modelo: PCC761B</h6><p>
            <button>agregar</button>      
        </div>
        <img class="bgEqual" src="http://josetxu.com/img/transparent-3-4.png" />
      </div>
    </div>
    <div class="cardBox">
      <div class="card">
        <div class="front">
          <h3>Amoladora</h3>
          <strong>&#x21bb;</strong>
          <br><br>
          <img class="bgEqual" src="../public/img/Amoladora.jpg" />
        </div>
        <div class="back">
          <h6>- Producto: Amoladora Angular Porter-cable 20v, 4-1/2, Inalámbrica
            - Marca: Porter Cable
            - Modelo: PCC761B</h6><p>
            <button>agregar</button>      
        </div>
        <img class="bgEqual" src="http://josetxu.com/img/transparent-3-4.png" />
      </div>
    </div>
  </div>
    <!--2-->
    <div class="boxesContainer" >

      <div class="cardBox">
        <div class="card">
          <div class="front">
            <h3>Amoladora</h3>
            <strong>&#x21bb;</strong>
            <br><br>
            <img class="bgEqual" src="../public/img/Amoladora.jpg" />
          </div>
          <div class="back">
            <h6>- Producto: Amoladora Angular Porter-cable 20v, 4-1/2, Inalámbrica
              - Marca: Porter Cable
              - Modelo: PCC761B</h6><p>
              <button>agregar</button>      
          </div>
          <img class="bgEqual" src="http://josetxu.com/img/transparent-3-4.png" />
        </div>
      </div>
      <div class="cardBox">
        <div class="card">
          <div class="front">
            <h3>Amoladora</h3>
            <strong>&#x21bb;</strong>
            <br><br>
            <img class="bgEqual" src="../public/img/Amoladora.jpg" />
          </div>
          <div class="back">
            <h6>- Producto: Amoladora Angular Porter-cable 20v, 4-1/2, Inalámbrica
              - Marca: Porter Cable
              - Modelo: PCC761B</h6><p>
              <button>agregar</button>      
          </div>
          <img class="bgEqual" src="http://josetxu.com/img/transparent-3-4.png" />
        </div>
      </div>
      <div class="cardBox">
        <div class="card">
          <div class="front">
            <h3>Amoladora</h3>
            <strong>&#x21bb;</strong>
            <br><br>
            <img class="bgEqual" src="../public/img/Amoladora.jpg" />
          </div>
          <div class="back">
            <h6>- Producto: Amoladora Angular Porter-cable 20v, 4-1/2, Inalámbrica
              - Marca: Porter Cable
              - Modelo: PCC761B</h6><p>
              <button>agregar</button>      
          </div>
          <img class="bgEqual" src="http://josetxu.com/img/transparent-3-4.png" />
        </div>
      </div>
      <div class="cardBox">
        <div class="card">
          <div class="front">
            <h3>Amoladora</h3>
            <strong>&#x21bb;</strong>
            <br><br>
            <img class="bgEqual" src="../public/img/Amoladora.jpg" />
          </div>
          <div class="back">
            <h6>- Producto: Amoladora Angular Porter-cable 20v, 4-1/2, Inalámbrica
              - Marca: Porter Cable
              - Modelo: PCC761B</h6><p>
              <button>agregar</button>      
          </div>
          <img class="bgEqual" src="http://josetxu.com/img/transparent-3-4.png" />
        </div>
      </div>
      <div class="cardBox">
        <div class="card">
          <div class="front">
            <h3>Amoladora</h3>
            <strong>&#x21bb;</strong>
            <br><br>
            <img class="bgEqual" src="../public/img/Amoladora.jpg" />
          </div>
          <div class="back">
            <h6>- Producto: Amoladora Angular Porter-cable 20v, 4-1/2, Inalámbrica
              - Marca: Porter Cable
              - Modelo: PCC761B</h6><p>
              <button>agregar</button>      
          </div>
          <img class="bgEqual" src="http://josetxu.com/img/transparent-3-4.png" />
        </div>
      </div>
    </div>
</body>
</html>