<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HOME</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../estilos/style.css">
    </head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <nav class="nav">
                        <img src="../public/img/toolSiteLogo1.png" alt="" class="w-50 p-6 float-start">
                    </nav>
                </div>
                <div style="text-align:right;" class="col-6">
                    <a href="inicioSesion.html" class="boton rojo">Iniciar Sesion</a>
                    <a href="registro.html" class="boton amarillo">Registrarse</a>
                </div>
            </div>
        </div>
    </header>
        <div style="margin-left: 700px; margin-top:-220px;">
                <h1 style="font-size: 80px;">Bienvenidos a TOOL SITE</h1>   
        </div>
        <div style="margin-left: 870px; margin-top:-8px;">
              <h3 style="color: red;">¿Necesitas alquilar herramientas para tu empresa, hogar?</h3>
            </div>
        </div><div style="margin-left: 925px; margin-top:-8px;">
            <h4>Con TOOL SITE tienes acceso a las herramientas que necesitas</h4>
          </div>
      </div>
      <div class="contenedor" >
        <div class="box" id="box">
            <div class="elementos">
               <div class="imagenes">
                <img src="https://homecenterco.scene7.com/is/image/SodimacCO/147716?fmt=jpg&fit=fit,1&wid=420&hei=420" alt="">
            </div>
            </div>
            <div class="elementos">
               <div class="imagenes">
                    <img src="https://homecenterco.scene7.com/is/image/SodimacCO/511219?fmt=jpg&fit=fit,1&wid=420&hei=420" alt="">
               </div>
            </div>
            <div class="elementos">
               <div class="imagenes">
                    <img src="https://img.freepik.com/vector-premium/conjunto-iconos-llave-inglesa-estilo-contorno_96318-5479.jpg?w=826" alt="">
               </div>
            </div>
            <div class="elementos">
              <div class="imagenes">
                   <img src="https://img.freepik.com/foto-gratis/mecanico-automoviles-soporte-uniforme-blanco-llave_1150-16605.jpg?w=1380&t=st=1663690625~exp=1663691225~hmac=8e6c5aec6ac6a5c0461e63c9fe604e41769eca7b8b5bb8c60af1ed7d159840c8" alt="">
              </div>
           </div>
           <div class="elementos">
            <div class="imagenes">
                 <img src="https://img.freepik.com/fotos-premium/escaparate-cajas-herramientas-primer-plano-tienda-herramientas-nadie-eleccion-equipo-ferreteria-instrumento-profesional-supermercado-juego-llaves-destornilladores_266732-457.jpg?w=1380" alt="">
            </div>
           </div>
           <div class="elementos">
            <div class="imagenes">
                 <img src="https://homecenterco.scene7.com/is/image/SodimacCO/873938?fmt=jpg&fit=fit,1&wid=420&hei=420" alt="">
            </div>
           </div>
           <div class="elementos">
            <div class="imagenes">
                 <img src="https://homecenterco.scene7.com/is/image/SodimacCO/138894?fmt=jpg&fit=fit,1&wid=420&hei=420" alt="">
            </div>
           </div>
           <div class="elementos">
            <div class="imagenes">
                 <img src="https://homecenterco.scene7.com/is/image/SodimacCO/385687?fmt=jpg&fit=fit,1&wid=420&hei=420" alt="">
            </div>
           </div>
        </div>
    </div>          
    <div class="bocadillo-cuadrado">Beneficios de alquilar</div>
</body>
</html>