<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <nav class="nav">
                    <img src="../public/img/toolSiteLogo1.png" alt="" class="w-25 p-3 float-start">
                </nav>
            </div>
            <div class="col-6">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <h1 class="text-center my-5" >Registrate</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="/signIn" method="POST">
                    <!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"/> -->
                    <label for="exampleFormControlInput1" class="form-label">Nombres</label>
                    <input
                        type="text"
                        name="user_name"
                        class="form-control mb-2"
                        placeholder="Nombres"
                    >
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    <input
                        type="text"
                        name="user_email"
                        class="form-control mb-2"
                        placeholder="bluuwebb@test.com"
                    >
                    <label for="exampleFormControlInput1" class="form-label">Direccion</label>
                    <input
                        type="text"
                        name="user_addres"
                        class="form-control mb-2"
                        placeholder="Av providencia #1612 Torre Atrio"
                    >
                    <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
                    <input
                        type="password"
                        name="user_password"
                        class="form-control mb-2"
                        placeholder="contraseña"
                    >
                    <label for="exampleFormControlInput1" class="form-label">Repita la contraseña</label>
                    <input
                        type="password"
                        name="user_rePassword"
                        class="form-control mb-2"
                        placeholder="repita la contraseña"
                    >
                    <button type="submit" class="btn btn-primary w-100">Registrarme</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>